body {
 background: linear-gradient(to right, #64dfdf, #80ffdb, #72efdd, #48bfe3, #5390d9, #5e60ce);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-8px);
}

.navmove
    {
      margin-bottom: 500px;
    }

    .navmove2
    {
      margin-bottom: 200px;
    }
    .navmove3
    {
      margin-bottom: 20px;
    }